header {
    display: flex;
    gap: 24px;
    padding: 12px;
}

header svg{
    height: 24px;
}

header ion-icon {
    font-size: 24px;
}

nav{
    padding: 12px;
    display: flex;
    gap: 8px;
}

nav button{
    border: 0;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 10px;
    flex-grow: 0;
    flex-shrink: 0;
}

nav button:hover,
.active{
    background-color: #000;
    color: #fff;
}